<%- include('includes/header') %> 
<%- include('includes/navbar') %>

<div class="container text-center">
    <h3>Login</h3>
    <form action="/login" method="post">

        <input type="email" class="form-control mb-3" name="email" placeholder='E-mail'>

        <input type="password" class="form-control mb-3" name="password" placeholder='Password'>

        <input type="submit" class="btn btn-primary" value='Login'>
    </form>
    <br>
    <% if(authError) {%>
    <p class="alert alert-danger">
        <%= authError %>
    </p>
    <% } %>
    <br>
    <div>New User? <a href="/sigup">Signup</a></div>
</div>

<%- include('includes/footer') %>

