<%- include('includes/header') %> 
<%- include('includes/navbar') %>

<div class="container text-center">
    <p class="alert alert-danger">Access Denied! only admins are allowed</p>
</div>

<%- include('includes/footer') %>
